.AddFriend-btn{
    height: 4rem;
    width: 150px;
    background-color: rgb(64, 141, 64);
    border: none;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: ease-in .15s;
}

.AddFriend-btn:hover{
    transition: ease-in .15s;
    font-weight: bold;
    background-color: rgb(48, 109, 48);
    
}